@charset "utf-8";

/* reset  */
html,body{height: 100%;}
*{margin: 0;padding: 0;box-sizing: border-box;}
.clearfix:after{
    content: "";display: block;clear: both;
}
li{list-style: none;}
a:link,
a:visited{
    text-decoration: none;
    color: #888;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

/* header  */
.top{
    border-bottom: 1px solid #ddd;
}
.topMenu{
    float : right;
    height : 26px;
}

.topMenu li{
    float:left;
}

.topMenu li a{
    display: block;
    font-size: 12px;
    padding: 6px 10px;
    position: relative;
}

.topMenu li a:after{
    content: "";
    display: block;
    width: 1px;
    height: 9px;
    background: #888;
    position: absolute;
    right: 0;
    top: 10px;
}

.topMenu li:last-child a:after{display: none;}

#hd img{
    display: block;
    margin: 10px auto;
}

.subWrap{
    background: #1C5DA3;
    height: 45px;
}

.subMenu li{
    float: left;
    width: calc(100% / 6);
    border-left: 1px solid #336EAC;
}

.subMenu li:last-child{border-right: 1px solid #336EAC;}

.subMenu li a{
    display: block;
    font-size: 15px;
    color: white;
    font-weight: bold;
    letter-spacing: -0.08em;
    text-align: center;
    padding: 14px 0;
}

/* visual  */
.visual{
    background-image: url(../img/visual_bg.jpg) ;
    background-color: #223A6A;
    background-repeat: no-repeat;
    background-position: center;
}

.visualWrap{
    position: relative;
    height: 400px;
    overflow: hidden;
}

.visualWrap img{
    position: absolute;
}
.visualWrap .img1{
    left: 0;
    top: 70px;
}

.visualWrap .img2{
    right: 0;
    top: 15px;
}

/* visual menu  */
.menu{
    background: #eee;
    height: 200px;
    margin-bottom: 50px;
}

.visualMenu li{
    float: left;
    width: calc(100% / 5);
    height: 200px;
}

.visualMenu li:nth-child(1){background: #7C99B9;}
.visualMenu li:nth-child(2){background: #4F74A1;}
.visualMenu li:nth-child(3){background: #4B8CE0;}
.visualMenu li:nth-child(4){background: #3DB5F3;}
.visualMenu li:nth-child(5){background: #95C8FF;}

.visualMenu img{
    display: block;
    margin: 10px auto;
    margin-top: 20px;
}

.menu .tWrap h3{
    color:white;
    font-size: 18px;
    letter-spacing: -0.08em;
    text-align: center;
    margin-bottom: 9px;
}

.menu .tWrap p{
    color:white;
    text-align: center;
}

/* section  con */
.con{
    margin-bottom: 30px;
}

.conMenu{
    float: left;
    width: calc((100% - 50px) / 3);
    margin-right: 25px;
}

.conMenu:last-child{margin-right: 0;}

.con .conMenu img{
    display: block;
    width: 100%;
}

.con .tWrap{
    padding: 15px 10px;
}

.con .tWrap h3{
    color:#333333;
    font-size: 18px;
    letter-spacing: -0.08em;
    margin-bottom: 10px;
}

.con .tWrap p{
    color: #888888;
    line-height: 16px;
    font-size: 12px;
    
}

.con .conMenu .tWrap{
    border: 1px solid #ddd;
    border-top: none;
}


/* section  */
.con1{
    margin-bottom: 20px;
}

.con1 .tWrap h3{
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
}

.con1 .tWrap p{
    color : #888888;
    line-height: 18px;
}

.con1 .tWrap a{
    display: block;
    color:blue;
    margin-top: 20px;
}

.con1 .conMenu {
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
}

.con1 img{
    position: absolute;
    width: 60%;
    right: -20px;
    top: 20px
}

.con1 .tWrap{
    position: relative;
    left: 0;
    padding: 15px 15px;
} 

/* footer*/

.footWrap1{
    background: #4D4D4D;
    height: 46px;

}

.footWrap1 li{
    float:left;
}

.footWrap1 li a{
    display: block;
    color: #B7B7B7;
    font-weight: bold;
    font-size: 12px;
    padding: 0 10px;
    line-height: 45px;
    position: relative;
}

.footWrap1 li a:after{
    content: "";
    display: block;
    width: 1px;
    height: 9px;
    background: #717171;
    position: absolute;
    right: 0;
    top:18px;    
}

.footWrap1 li:last-child a:after{display: none;}
.footWrap1 li:first-child a:first-child{padding-left: 0;}


.footWrap2{
    background: #5E5E5E;
    height: 100px;
}

.footWrap2 h2{
    float: left;
    color:white;
    padding: 35px 100px 35px 0px;
}

.footWrap2 p{
    float: left;
    color: #AAA ;
    padding: 10px 0px;
    line-height: 20px;
    font-size: 12px;
}